.wmde-markdown {
  background-color: #000c14;
  color: #fff;
}

.wmde-markdown ol,
.wmde-markdown ul {
  list-style: unset;
  height: fit-content !important;
}

.wmde-markdown pre {
  background-color: #001220;
}
