.wmde-markdown {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #000c14;
  color: #fff;
}

.wmde-markdown pre {
  background-color: #001220;
}
