@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-input {
    @apply rounded-md border-2 border-transparent bg-altBackgroundColorLight p-2 text-textColor duration-300;
  }

  .base-input:focus {
    @apply border-2 border-neutralDarker;
  }

  .base-input:hover {
    @apply border-2 border-secondary;
  }

  .base-bg-gradient-r {
    @apply bg-gradient-to-r from-neutralDarker to-secondaryLight;
  }

  .base-border-gradient-r {
    @apply rounded-xl border-4 border-transparent bg-gradient-to-r from-neutralDarker to-primary bg-clip-border bg-origin-border;
  }

  .menu-active {
    @apply bg-gradient-to-r from-primary hover:bg-transparent md:from-transparent md:via-primary md:to-transparent;
  }

  .glow {
    box-shadow: 0 0 10px 5px #ffa69e;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px #ffa69e;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 10px 5px #ffa69e;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001829;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #da3f67;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c62368;
  cursor: pointer;
}
